<div class="content">
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">

        <!-- MAP -->
        <div ng-controller="MapCtrl">
          <leaflet height="400px" center="center" markers="markers"></leaflet>
        </div>
        <!-- END MAP -->

        <div class="col-md-4">
          <h2>Tourisme</h2>
          <article>
			<p>L'équipe de Wallonie-Bruxelles Tourisme et de Trip'N'Win vont vous faire découvrir le bonheur du tourisme en Belgique.</p>
			<p>
				Agenda des évènements, gastronomie, nature et rando dans les Ardennes, packages et weekends tout compris, attractions... Vous apprécierez les innombrables avantages du tourisme en Wallonie et à Bruxelles.
				Nous sommes à votre disposition en Belgique et à l'étranger. </p>
				<p>Plus besoin de brochures pour préparer votre voyage en Belgique.</p>
				<p>
				Gagnez nos bons de réduction et profitez de nos bons plans visites et séjours.</p>
				<p><a class="btn btn-default" href="#" role="button">Détails</a></p>
		  </article>
          
        </div>
        <div class="col-md-4">
          <h2>Le jeu</h2>
          <article>
		  <p>Trip'N'View est une application développée lors du 1er hackathon eTourisme. </p>
		  <p>Découvrez vite cette nouvelle innovation qui va aggrémenter vos visites tout en partageant ce moment de détente en famille.</p>
          <p><a class="btn btn-default" href="#" role="button">Détails</a></p>
		  </article>
		  
       </div>
        <div class="col-md-4">
          <h2>Nos partenaires</h2>
		  <article>
			  <p>Tourisme de Wallonie.</p>
			  <p>La commune Libramont-Chevigny.</p>
			  <p>Haute Ecole Robert Schuman.</p>
			  <p><a class="btn btn-default" href="#" role="button">Détails</a></p>
		  </article>
          
        </div>
      </div>
	</div>
</div>