<div class="content">
    
  <section>
      
        <div class="container">
            <!-- Example row of columns -->
            
            <div class="row">
                
              <div class="col-md-4"> 
                  <div class="container">
                 <img id="img_perdu" src="/img/perdu.png" class="img-responsive" alt="Perdu">
                 </div>
              </div>
                
              <div class="col-md-4"> 
                  <h1 id="titre_perdu">PERDU !</h1>
                  <button type="button" class="btn btn-primary btn-lg">Retour</button>
              </div>
                
            </div>
        </div>
  </section>
    
</div>