<div class="content">
    
  <section>
      
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                
              <div class="col-md-4"> 
                  
                 <img src="/img/perdu.jpg" class="img-responsive" alt="Perdu">
                 
              </div>
                
              <div class="col-md-4"> 
                  
                  <h1>Dommage, ceci n'est pas la bonne réponse ! </h1>
                 
              </div>
                
            </div>
        </div>
  </section>
    
</div>