<div class="content" ng-switch="stage">

  <!-- Stage play -->
  <section class="container" ng-switch-when="play">
    <h1>{{ question.label }}</h1>

    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <button class="btn btn-primary btn-lg btn-block" ng-click="play($index)" ng-repeat="choice in question.choices">{{ choice }}</button>
      </div>
    </div>
  </section>


  <!-- Stage won -->
  <section class="container" ng-switch-when="won">
    <div class="row">
      <div class="col-md-6">
          <div class="container">
            <img id="img_perdu" src="/img/bravo.jpg" class="img-responsive" alt="Gagné">
         </div>
      </div>
      <div class="col-md-6">
        <h1 id="title_loose">Houba !</h1>
          <p>Bravo vous avez bien répondu à la question.</p>
          <p>Partagez cet instant de gloire pour obtenir votre coupon offert par {{ coupon.name }}</p>
          <a href="#" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-share"></span> Partager</a>
          <div class="thumbnail clearfix">
              <div class="row">
                <div class="col-md-4">
                  <qrcode version="2" error-correction-level="M" size="150" data="string" class="pull-left"></qrcode>
                </div>
                <div class="col-md-offset-5 col-md-6">
                  <h3>{{ coupon.name }}</h3>
                  <h4>{{ coupon.gain }}</h4>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
  </section>


  <!-- Stage lost -->
  <section class="container" ng-switch-when="lost">
    <div class="row">
      <div class="col-md-6">
          <div class="container">
         <img id="img_perdu" src="/img/perdu.png" class="img-responsive" alt="Perdu">
         </div>
      </div>
      <div class="col-md-6">
          <h1 id="title_loose">PERDU !</h1>
          <button type="button" class="btn btn-primary btn-lg" ng-click="init()">Mais retentez !</button>
      </div>
    </div>
  </section>

</div>
